[class*="col-"] {
    border: 1px solid;
    height: 100px;
}
[class*="col-"] {
    position: relative;
    text-align: center;
 }
 
.row [class*="col-"] .row [class*="col-"] {
    background-color: #f07f81;;
    height: 85px;
    border: 1px solid white;
    
}

.container {
    background-color: #ffc0cb;
}
.padding {
    padding: 5px;
}

.row [class*="col-"] .centrare {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}