.container {
}
[class*="col-"] {
   /* position: relative; */
   border: 1px solid;
   text-align: center;

}
/* [class*="col-"]::after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    background-color: #ffc0cb;
} */
.col-1, .col-12, .col-2, .col-8, .col-6{
    padding: 90px 0;
}