[class*="col-"] {
    border: 1px solid;
    height: 100px;
}

.row > .col-6 .row > .col-2.speciale::after{
    background-color: #f07f81;
}

   /* background-color: #f07f81;
   background-color: #ffc0cb; */

[class*="col-"] {
    position: relative;
    text-align: center;
    background-color: #ffc0cb;
 }
 [class*="speciale"]::after {
     position: absolute;
     top: 1px;
     bottom: 1px;
     left: 1px;
     right: 1px;
     content: "Nested 2 col";
     

 }
 
  .speciale  {
      
      border: 1px solid white;
  }